body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
}

.container {
}

.bg-img{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    }

.phone{
    position: absolute;
    margin-top: 45px;
    padding: 15px 80px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1250px;
    transition:color 0.2s linear; 
}

.phone:hover{
    color: #0093A1;
}


.fanatic-logo{
    position: absolute;
    top: 50px;
    left: 140px;
    transform: scale(1.5);
}

.header-button {
    position: absolute;
    margin-top: 45px;
    background: black;
    padding: 15px 80px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 1500px;
    border-radius: 5px;
    transition: background-color 0.4s linear;
}

.button{
    color: white;
    text-decoration: none;
}

.header-button:hover {
    background-color: #0093A1;
}

.title{
    font-family: Comfortaa;
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 400px;
    margin-left: 1150px;
    position: absolute;
}

.subtitle{
    font-family: Comfortaa;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 500px;
    margin-left: 1250px;
    position: absolute;
    line-height: 40px;
}

.trees{
    position: absolute;
    margin-top: 575px;
}
.trees2{
    position: absolute;
    margin-top: -170px;
}

.line{
    display: flex;
    border: none;
    background-color: #262C27;
    height: 100px;
    background-size:cover;
    margin: 0;
}

.line2{
    display: flex;
    border: none;
    background-color: rgba(253, 244, 244, 0.712);
    height: 180px;
    background-size:cover;
    margin: 0;
}

.sea{
    margin: 0px;
}
.video{
    position: absolute;
    margin-left: 20px;
    margin-top: -740px;
}



.freedom-title{
    position: absolute;
    margin-top: -162px;
    margin-left: 175px;
    line-height: 144.95px;
    text-align: center;
    color: #0093A1;
    font-size: 200px;
    opacity: 0.75;
}

.freedom-subtitle{
    position: absolute;
    margin-top: -88px;
    margin-left: 1400px;
    text-align: center;
    color: #0093A1;
    font-size: 32px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
}

.blue-image{
    position: absolute;
    margin-left: 300px;
    margin-top: -850px;
    transform: scale(1.25);
}

.logotip-image{
    transform: scale(0.9);
    position: absolute;
    margin-top: -95px;
}

.botm-title{
    font-family: 'Inter';
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: -1450px;
    margin-left: 200px;
    position: absolute;
    width: 600px;
}
.botom-title{
    font-family: 'Inter';
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: -1450px;
    margin-left: 1150px;
    position: absolute;
    width: 600px;
}

.boat-desc{
    font-family: 'Inter';
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: -600px;
    margin-left: 650px;
    position: absolute;
    width: 600px;
}

.boat-desc2{
    font-family: 'Inter';
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: -580px;
    margin-left: 900px;
    position: absolute;
    width: 600px;
    line-height: 25.px;
}

.sell-box{
    text-align: center;
    position:absolute;
    margin-top: -750px;
    margin-left: 1300px;
}

.box-title-blue {
    font-size: 64px;
    color: #19666d;
    margin-bottom: 20px;
}
.box-subtitle {
}
.box-text-title-blue {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #19666d;
}
.box-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.box-text-title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.box-star {
    display: flex;
    position: absolute;
    margin-left: -400px;
    margin-top: -100px;
    z-index: 999;
}
.box-star-price {
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    position: absolute;
    margin-left: 55px;
    margin-top: 80px;

}
.box-images{
    display: flex;
    position: absolute;
    margin-top: -520px;
    margin-left: -450px;
}

.box-button {
    position: absolute;
    color: black;
    background: #8ad8df;
    border-color: #0093A1;
    border-style:outset ;
    padding: 15px 80px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 5px;
    transition: background-color 0.4s linear;
}

.box-button:hover{
    background-color: #0093A1;
}
.box-butn{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: Comfortaa;
    font-weight: 700;
    text-align: center;
}

.white-tree{
    position: absolute;
    margin-top: -180px;
}

.green-water{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.line3{
    display: flex;
    border: none;
    background-color: white;
    height: 180px;
    background-size:cover;
    margin: 0;
}

.greenwater-title{
    position: absolute;
    text-align: left;
    color:#262C27;
    font-family: Comfortaa;
    font-size: 60px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0em;
    margin-top: 400px;
    margin-left: 265px;
}

.micro-list{
    position: absolute;
    margin-top: 600px;
    margin-left: 260px;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

.micro-subtitle{
    position: absolute;
    font-family: Inter;
    font-size: 18px;
    font-weight: 501;
    font-style: italic;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 900px;
    margin-left: 270px;
    width: 600px;
}

.footren-imager{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.footer-title{
    position: absolute;
    font-family: Comfortaa;
    font-size: 60px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: -850px;
    margin-left: 350px;
}

.footer-form{
    position: absolute;
    margin-top: -700px;
    margin-left: 360px;
    line-height: 70px;
}

input[type=email],[type=text] {
    border: none;
    border-bottom: 1px solid;
    background-color: #262C27;
    font-size: 25px;
    color: white;
    width: 500px;
}
.footer-button {
    position: absolute;
    color: black;
    background: white;
    border-color: black;
    border-style:outset ;
    padding: 15px 80px;
    font-size: 16px;
    font-weight: 400;
    margin-top: -490px;
    margin-left: 355px;
    transition: background-color 0.4s linear;
}

.footer-button:hover{
    background-color: grey;
}
.footer-btn{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: Comfortaa;
    font-weight: 700;
    text-align: center;
}

.logop{
    position: absolute;
    margin-top: -880px;
    margin-left: 1200px;
    transform: scale(1.5);
}

.line-photos{
    position: absolute;
    display: flex;
    margin-top: -400px;
    margin-left: 355px;
}

.photo1{
    margin-right: 50px;
}
.footer-end-text{
    position: absolute;
    font-size: 24px;
    font-family: Comfortaa;
    color: white;
    text-align: center;
    display: flex;
    margin-top: -80px;
    margin-left: 800px;
}